/*

xs  <576px
sm  576px - 767px
md  768px - 991px
lg  992px - 1199px
xl  >1200px

*/

body{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
    /*font-family: 'Lato', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    color: #27282c;
}
nav{
    font-family: 'Pathway Extreme', sans-serif;
}
footer{
    border-top: 1px solid #33353a;
    background-color: #27282c;
    color: #929292;
    text-align: center; 
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;    
}
ul{ list-style-type: none; }
ul > li{ text-align: center; }
.row{ margin-left: 0px; margin-right: 0px; }
.align-right{ text-align: right; }
.goUpButtonShow{ opacity: 1!important; }
#goUp{
    display: flex;
    justify-content: center;
	position: fixed;
	bottom: 30px;
	right: 20px;
	z-index: 100;
	opacity: 0;
	background-color: #5999e3;
  	border: 1px solid #4992e6;
  	border-radius: 50%;
  	cursor: pointer;
  	font-size: 36px;
  	line-height: 48px;
  	width: 50px;
}
.company-logo{
    width: 200px;
    height: 86.67px;
}
.header-nav-list-item{
    text-transform: uppercase;
    text-decoration: none;
    color: #696d77;
}
a.header-nav-list-item:hover{
    color: #ff2b00;
    transition: 100ms;
}
a.header-nav-list-item::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: #ff2b00;
    transition: 100ms;
}
a.header-nav-list-item:hover::after {
    width: 100%;
}
a.quick-contact-elem{
    text-decoration: none;
}
.quick-contact-elem{
    color: #cf9714;
    font-size: 2rem;
    font-weight: 700;
}
.vertical-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0px;
    margin: 0px;
}
.homepage-top{
    background: url("../img/hmpg.jpg");
}
.contact-top{
    background: url('../img/contact-3.JPG');
}
.about-top{
    background: url('../img/contact-11.JPG');
}
.homepage-offer{
    background: url("../img/offer-bg.JPG");
    height: 100%;
}
.resizable-bg{
    height: auto;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 15rem;
    padding-bottom: 15rem;
    padding-left:inherit;
    padding-right:inherit;
}
.resizable-bg-sm{
    padding-top: 10rem!important;
    padding-bottom: 10rem!important;
}

.homepage-top-company-description{
    background-color: #27282c;
    color: #ffffff;
    text-align: center;
    padding: 10px 0px 20px 0px;
}
.top-title{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 4rem;
    line-height: 1.2;
    font-weight: 700;
    text-align: right;
    text-shadow: 2px 2px #000000;
}
.top-title-left{
    text-align: left!important;
}
.homepage-top-title-sm{
    color: #d9d9d9;
    font-size: 3rem;
}
.top-intro{
    font-style: italic;
}
.top-intro-big{
    font-family: 'Pathway Extreme', sans-serif;
    font-size: 40px;
}
.contact-content{
    background-color: #27282c;
    color: #ffffff;
    text-align: center;
    padding: 10px 0px 10px 0px;
}
.centered-title{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}
.centered-title-sm{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 1rem;
}
.centered-title-sep{
    border-bottom: 1px solid #9b9b9b;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    margin-bottom: 10px;
    width: 8%;
}
.offer-elem{
    background-color: rgba(255, 255, 255, 0.9);
    color: #27282c;
    border-radius: 10px;
    margin: 1rem;
}
.offer-elem-client-type{
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
}
.client-collapse{
    font-size: 1.2rem;
    font-weight: 500;
}
.know-more-btn{
    margin-bottom: 1rem;
}
.map{
    width: 100%;
    height: 600px;
}
.icon{
    font-size: 2.2rem;
}
.contact-elem-description{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1rem;
    /*width: 100%;*/
}
a.fb-link{
    color: #4989c4;
    text-decoration: none;
}
a.fb-link:hover{
    color: #649ed4;
    transition: 100ms;
}
.form-item{
    width: 90%;
    border-radius: 10px;
    margin: 0.3rem 0px 0.3rem 0px;
    font-size: 1rem;
    padding: 0.8rem;
    font-style: italic;
    background-color: #d4d4d4;
}
.contact-left-row{
    margin-bottom: 0px;
}
#form-message{
    min-height: 100px;
}
.owner-info{
    margin: 1rem 0px 1rem 0px;
    font-style: italic;
    font-size: 1rem;
}
.history-description{
    line-height: 2;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: rgba(89, 88, 94, 0.2);
    text-align: justify;
}
.comapny-description{
    background-color: #27282c;
    color: #ffffff;
}
/*

xs  <576px
sm  576px - 767px
md  768px - 991px
lg  992px - 1199px
xl  >1200px

*/
@media screen and (max-width: 1200px){ /* lg */
    body{ font-size: 18px; }
    .map{ height: 400px; }
}
@media screen and (max-width: 992px){ /* md */
    body{ font-size: 16px; }
    .resizable-bg{
        padding-top: 10rem;
        padding-bottom: 10rem;
    }
    .top-title{ font-size: 3rem; }
    .homepage-top-title-sm{ font-size: 2.5rem; }
    .map{ height: 300px; }
    .contact-elem-description{
        font-size: 0.8rem;
    }
    .history-description{
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 768px){ /* sm */
    body{ font-size: 14px; }
    .company-logo{
        width: 150px!important;
        height: 65px!important;
    }
}
@media screen and (max-width: 576px){ /* xs */
    .top-title{
        text-align: center;
        background-color: rgba(255, 255, 255, 0.3);
        padding: 10px 0px 20px 0px;
        font-size: 2rem;
    }
    .top-title-left{ text-align: center!important; }
    .homepage-top-title-sm{
        font-size: 1.5rem;
    }
    .contact-left-row{
        margin-bottom: 1rem;
    }
}
@media screen and (max-width: 340px){ /* xxs */
    .vertical-nav{
        flex-direction: column;
        border-top: 1px solid #d5d7dd;
    }
    .top-intro-big{
        font-size: 30px;
    }
}