
.icon-phone:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-location:before { content: '\e802'; } /* '' */
.icon-map:before { content: '\f279'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
